article.content.post.home {
    background: linear-gradient(90deg, hsla(48, 88%, 90%, 0.2), hsla(337, 78%, 91%, 0.2), hsla(225, 78%, 91%, 0.2), hsla(178, 100%, 88%, 0.2)); // 渐变背景
    border-radius: 2em;
    margin-top: 5em;
    padding-left: 1em;
    padding-right: 1em;
}

.post-title {
    color: var(--color-contrast-higher); // 默认字体颜色
    // color:rgb(8, 10, 51);
    transition: color 0.3s ease;
}

.summary-title-link {
    color: inherit; // 继承.post-title的颜色
    transition: color 0.3s ease;
}

.summary-title-link:hover {
    color: rgb(228, 110, 146); // 鼠标悬停时的字体颜色
}

.summary {
    line-height: $lineHeight;
    display: block;
}

.read-more-container {
    text-align: center;
    margin-top: 1.618em;
}

.read-more-link {
    display: inline-block;
    color: rgb(10, 17, 58);
    transition: color 0.4s ease; // 添加过渡效果
}

.read-more-link:hover {
    color: rgb(246, 130, 165);
}

.pagination {
    list-style: none;
    margin: 5em 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.pagination-prev {
    margin-right: auto;
}

.pagination-next {
    margin-left: auto;
    text-align: right;
}