.post-tags {
    margin-top: 4rem;
    text-align: center;
    font-size: 94%;
}

.post-tags-link {
    color: alpha(var(--color-contrast-medium), 0.9);
    margin: 0 0.5em;
    line-height: 2;
    display: inline-block;
}

.post-tags-link:hover {
    color:rgb(110, 140, 240);
}

.tag-icon {
    margin-right: 0.3em;
    font-size: 84%;
}
